.medtech {
  padding-top: 50px;
  width: 100%;
}
.medtech__patientId {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}
.medtech .MuiTextField-root {
  min-width: 350px;
}

.medtech__info {
  padding-left: 25px;
  margin-bottom: 20px;
}

.medtech__info h3 {
  margin-bottom: 10px;
}
