.examsToTake {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicUpload__progress {
  width: 100%;
  margin-bottom: 5px;
}

.topicUpload__uploadButton {
  margin-top: 20px !important;
}
