.adminLogin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.adminLogin__img {
  height: 50%;
  object-fit: contain;
}

.adminLogin__content {
  padding: 50px;
  background-color: #f6f6f6;
  min-width: 400px;
}

.adminLogin__content h5 {
  font-weight: 500;
  font-size: 18px;
}

.adminLogin__content .MuiButton-root {
  margin-top: 10px !important;
}

.adminLogin__form {
  margin-top: 30px;
}

.adminLogin__form > div {
  margin-bottom: 10px;
}

.adminLogin__error {
  font-size: 14px;
  color: red;
}
